# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
*.a
*.gcov
*.gcov_tmp
build/
_deps/

# Project
pda

# Testing
googletest/
Testing/
CTestTestfile.cmake
pda_tests

# Vim
*.plist
tags
*.swp
*~
